* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.header {
  background-color: #2098d1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
}

.nav__logo {
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  height: 10vh;
  padding-top: 1rem;
}

.nav__list {
  list-style-type: none;
  display: flex;
}

.nav__list__item {
  padding-left: 1rem;
  display: inline-block;
  color: #fff;
}

.header__hero {
  color: #fff;
  padding-top: 12%;
}

.header__hero__header {
  font-size: 2rem;
}

.header__hero__text {
  font-size: 1.2rem;
  width: inherit;
}

.header__hero__create {
  font-size: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
}

.about__header,
.work__header,
.contact__header {
  text-align: center;
  margin: 1rem 0;
}

.about__text {
  font-size: 1.2rem;
  line-height: 120%;
  padding: 2rem;
  flex-basis: auto;
}

.work__projects {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.work__projects__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  margin: 0 10px;
}

.work__projects__item:hover .work__projects__item__description {
  display: block;
  background-color: #332f2f;
  color: #fff;
  padding: 10px 0;
}

.work__projects__item__pic {
  width: 100%;
  height: 100%;
}

.work__projects__item__description {
  display: none;
  text-align: center;
}

.contact__icons {
  display: flex;
  justify-content: center;
}

.contact__icons__item {
  font-size: 4rem;
  margin-right: 2rem;
}

.contact__icons__item:link,
.contact__icons__item:visited {
  color: inherit;
  text-decoration: none;
}

.footer {
  background-color: #2098d1;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}
