* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}
/* HEADER SECTION */

.header {
  background-color: #2098d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90vh;
}

.header::before,
.header::after {
  content: '';
  display: block;
  width: 4rem;
  height: 5vh;
  background-color: #2098d1;
  position: absolute;
  bottom: 4rem;
}

.header::before {
  -webkit-transform: skew(0, -30deg);
  -ms-transform: skew(0, -30deg);
  transform: skew(0, -30deg);
  left: 50%;
}

.header::after {
  -webkit-transform: skew(0, 30deg);
  -ms-transform: skew(0, 30deg);
  transform: skew(0, 30deg);
  right: 50%;
}

/* NAVIGATION SECTION */
.nav__logo {
  color: #fff;
}

.nav__icon {
  background-image: url('../images/logo.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: -10px;
}

.nav__text {
  position: relative;
  top: -30px;
  font-weight: 700;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 70vw;
  height: 10vh;
  padding-top: 1rem;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  width: 50px;
  height: 50px;
  color: #fff;
  z-index: 10;
  border: none;
  background-color: transparent;
  display: none;
}

.button--open {
  font-size: 2rem;
  display: none;
}

.button--close {
  cursor: pointer;
  font-size: 2.5rem;
}

.nav__item {
  padding-left: 1.2rem;
  padding-right: 1.3rem;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.nav__item:hover {
  font-weight: 700;
  border-radius: 10px;
  color: #2098d1;
  background-color: #fff;
  border: 1px solid;
}

.header__text {
  color: #fff;
  padding-top: 25vh;
}

.header__title {
  font-size: 2rem;
}

.header__description {
  font-size: 1.2rem;
  width: inherit;
}

.focus {
  font-size: 2rem;
}
/* ABOUT SECTION */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about__title,
.work__title,
.contact__title {
  text-align: center;
  margin: 2.5rem 0 0 0;
}

.about__text {
  font-size: 1.2rem;
  line-height: 150%;
  padding: 0.5rem 2rem 0 2rem;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  word-spacing: 0.1rem;
}

.about__link {
  text-decoration: none;
  color: #2098d1;
}

/* WORK SECTION */

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border: 1px solid #000;
  margin: 10px;
  width: 450px;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.project:hover .project__links {
  display: block;
}

.project:hover .project__description {
  display: block;
}

.odinfacebook {
  background-image: url('../images/odinfacebook.jpeg');
}

.waldo {
  background-image: url('../images/wheres-waldo.jpeg');
}

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -ms-flex-item-align: center;
  align-self: center;
}

.project__button {
  display: inline-block;
  background-color: #2098d1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.project__button:hover {
  color: #2098d1;
  background-color: #fff;
}

.project__description {
  text-align: center;
  display: none;
}

/* CONTACT SECTION */

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.icons__item {
  font-size: 4rem;
  margin-right: 2rem;
}

.icons__item:link,
.icons__item:visited {
  color: inherit;
  text-decoration: none;
}

.icons__item:hover {
  color: #2098d1;
}

/* FOOTER SECTION */

.footer {
  background-color: #2098d1;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}

@media screen and (max-width: 955px) {
  .nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90vw;
  }

  .nav__logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 25px;
    margin-top: 25px;
  }

  .nav__text {
    display: none;
  }

  .nav__list {
    display: none;
    position: absolute;
    top: 0;
    transform: translateX(100vw);
  }

  .button {
    display: block;
  }

  .button--open {
    display: block;
    cursor: pointer;
  }

  .nav__list--mobile {
    display: block;
    transform: translateX(-5vw);
    background-color: #2098d1;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2.2;
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s ease-in-out;
  }
}
